<%= form_for @user, :html=>{:id=>"user_form", class: "addform form-validation"} do |f| %>
  <%= f.error_messages %>
  <% if @user.auth_type == "built-in" && current_user!=@user && current_user.is_admin_of?(current_department)%>
   <h3>Reset Password?</h3>
     <div>
       <%= check_box_tag :reset_password %>
     </div>
   <% end %>
   <fieldset>
     <div class="row two-cols">
       <div class="col">
         <%= f.label :first_name %>
         <%= f.text_field :first_name, class: 'form-control', "data-required" => true, placeholder: "John" %>
       </div>
       <div class="col">
         <%= f.label :last_name %>
         <%= f.text_field :last_name, class: 'form-control', "data-required" => true, placeholder: "Doe" %>
       </div>
     </div>
     <div class="row">
       <div class="col">
         <%= f.label :email %>
         <%= f.text_field :email, class: 'form-control', "data-required" => true, placeholder: "example@mail.com" %>
       </div>
     </div>
     <div class="row cols">
       <div class="col">
         <label for="user[role_ids]">Role (Optional)</label>
         <select id="user[role_ids]">
           <option>Select Role</option>
           <% for role in @department.roles %>
           <option value="role.id"><%= role.name %> </option>
           <% end %>
         </select>
       </div>
       <div class="col break">
         <%= f.label :employee_id, "Employee ID" %>
         <%= f.text_field :employee_id, class: "form-control", placeholder: "Optional" %>
       </div>
       <div class="col weg">
         <%= label_tag :payrate, "Hourly Wage" %>
         <div class="weges">
           <span class="label">$</span>
           <%= number_field_tag :payrate, (@user.new_record? ? 0 : @user.payrate(current_department)) %>
         </div>
       </div>
     </div>
     <div class="btns">
       <% if @user.new_record? %>
         <%= f.submit "Add Employee", class: "btn btn-primary" %>
       <% else %>
         <%= f.submit "Save", class: "btn btn-primary" %>
         <%= deactivate_button(@user) %>
       <% end %>
     </div>
   </fieldset>
<% end %>
