<div class="table-block">
  <table>
    <thead>
      <tr>
        <th>Status</th>
        <th>Employee</th>
        <th>Last Activity</th>
        <th>Invite Sent</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% for user in @users %>
      <tr>
        <td><span class="status online"></span></td>
        <td>
          <%= link_to user.name, user_path(user.id) %>
        </td>
        <td>--</td>
        <td>--</td>
        <td>
          <%= link_to "Edit", edit_user_path(user), class: 'lightbox', remote: true %>
        </td>
        <%# !user.is_active?(current_department) ? "class='disabled'".html_safe : "" %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
