<% title "Employees" %>

<div class="registration-box">
  <strong class="heading"><span>4 employees</span> have not registered yet.</strong>
  <a href="#" class="btn btn-warning">Send Email Invites</a>
  <p>Or just share this <a href="#">registration page</a> with your employees to let them accept their invites and register.</p>
</div>
<div class="filter-bar">
  <div class="right-btns">
    <%= link_to "Export", { action: 'index', format: 'csv' }, class: 'btn btn-default' %>
    <%= link_to "Import", import_department_users_path(@department), class: 'btn btn-default' %>
    <% if params[:show_inactive].nil? %>
    <%= link_to "Show Inactive", department_users_path(@department, show_inactive: true), class: 'btn btn-default' %>
    <% else %>
    <%= link_to "Hide Inactive", department_users_path(@department), class: 'btn btn-default' %>
    <% end %>
    <%= link_to "Add New Employee", :new_user, class: 'btn btn-primary lightbox', remote: true %>
  </div>
</div>
<%= render partial: 'user_list' %>

<% content_for :popups do %>
<% end %>
<%#= observe_field :search, frequency: 0.2, url: search_department_users_path(current_department), with: :search %>
