// Colors
// Color calculator - http://razorjam.github.io/sasscolourfunctioncalculator/
// Color names - http://name-of-color.com/

$gray: #999;
$black: #000;
$white: #fff;
$light-blue: #39f;

$base-font-sans-serif: 'AvenirNext Pro',  sans-serif;
$base-font-serif: 'AvenirNext Pro',  sans-serif;

// Body
$base-text-color: #323a44 !default;
$base-background-color: #f0f2f2 !default;
$base-font-size: 14px !default;
$base-line-height: 1.2 !default;
$base-font-family: 'AvenirNext Pro',  sans-serif;

$vertical-rhythm: ($base-line-height * 1em);

$base-min-width: 320px;

// Liks
$base-link-color: #323a44;

// Buttons 
$btn-color: $white !default;
$btn-background: #e21634 !default;
$btn-padding: 0.4em 0.7em !default;
$btn-font-size: inherit !default;

// Forms
$form-element-padding: $btn-padding !default;
$form-element-border-color: $gray !default;
$form-element-focus-border-color: $black !default;
$placeholder-color: #97a0a3;

// Headers
$h1-font-size: 30px !default;
$h2-font-size: 27px !default;
$h3-font-size: 24px !default;
$h4-font-size: 21px !default;
$h5-font-size: 17px !default;
$h6-font-size: 15px !default;

$headings-font-family: inherit !default;
$headings-color: inherit !default;

$animation-speed: 0.3s;
$fontello:"fontello";
$opensans:		'Open Sans', sans-serif;


$pickledbluewood:				#2c404d;
$blackhaze:						#f8f9f9;
$iron:							#d9dcdf;
$iron2:							#d9dbdf;
$iron3:							#dbdee1;
$iron4:							#e2e4e7;
$azureradiance:					#018bed;
$regentgray:					#97a0a3;
$outerspace:					#2d343c;
$gray:							#919191;
$athensgray:					#e8ebef;
$rollingstone:					#727c81;
$brightgray:					#323a44;
$pomegranate:					#f02828;
$yellowgreen:					#b9e279;
$forly:							#f07d88;
$poloblue:						#98bad2;
$eastside:						#b895cf;
$pictonblue:					#4fcbe6;
$pictonblue2:					#4dcbe5;
$atlantis:						#7bca3b;
$lima:							#68bb25;
$flamingo:						#f36229;
$porcelain:						#f1f2f3;
$loblolly:						#c2cdd0;
$loblolly2:						#c4c9cd;
$loblolly3:						#c6cdd1;
$mercury:						#e5e5e5;
$nepal:							#99b2bf;
$neptune:						#749fb5;
$jaffa:							#f07240;
$dodgerblue:					#2ba3f8;
$oslogray:						#858f94;
$oslogray2:						#858f94;
$graychateau:					#a8afb8;
$aluminium:						#aab0b9;
$conifer:						#90d554;
$neoncarrot:					#ff8d3a;
$regentgray:					#919da3;
$burningorange:					#ff723a;
$atensgray:						#e3e7ec;
$red:							#f00;
$outerspace:					#2f363f;
$shamrock:						#36cc80;
$hitgray:						#a1acb2;
$mako:							#3d4449;
$mandy:							#eb4d5c;