<%= form_for @shift, html: { class: "addform form-validation" }, remote: true do |f| %>
  <%= f.error_messages %>
  <% if @shift.location.nil? && params[:location_id] %>
    <% select_lg = Location.find(params[:location_id]).loc_group %>
	<% elsif @shift.location %>
	  <% select_lg = @shift.location.loc_group%>
	<% end %>
  <!-- <% calculate_default_times_shifts %>
  <% if params[:xPercentage] %>
    <%= f.hidden_field :start_date, value: @default_start_date, id: :start_date  %>
  <% else %>
    <p>
      <%= f.label :date %><br />
      <%= f.date_select :start_date, default: @default_start_date, id: :start_date  %>
    </p>
  <% end %> -->

  <fieldset>
    <div class="row two-cols">
      <div class="col">
        <label>Time</label>
        <div class="time-holder">
          <div class="from">
            <%= f.select :start_time, options_for_select(shift_times, selected: @shift.try(:start).to_s(:am_pm)) %>
          </div>
          <span class="label">to</span>
          <div class="to">
            <%= f.select :end_time, options_for_select(shift_times, selected: @shift.try(:end).to_s(:am_pm))  %>
          </div>
        </div>
      </div>
      <div class="col datepicker">
        <%= f.label :start_date, "Date" %>
        <div class="datepicker">
          <%= f.text_field :start_date, class: "form-control", data: { datepicker: '{"showOn":"both"}', required: true }, id: "sdate", value: @shift.try(:start).to_s(:form_date)  %>
        </div>
      </div>
    </div>
    <div class="row">
      <%= f.label :user_id, "Employee" %>
      <%= f.collection_select(:user_id, current_department.active_users.sort_by{|u| u.name}, :id, :name, {prompt: "Select a user"}, "data-required" => true) %>
    </div>
    <div class="row">
      <%= f.label :location_id %><br />
      <%= f.collection_select(:location_id, current_department.locations.active, :id, :name, {prompt: "Select a Location"}, "data-required" => true) %>
    </div>
    <div class="row">
      <label for="note">Note</label>
      <textarea class="form-control" id="note" placeholder="Enter text"></textarea>
    </div>
    <%= f.hidden_field :power_signed_up, value: 1 %>
    <%= f.hidden_field :calendar_id, value: current_department.calendars.first.id %>
    <div class="btns">
      <%= f.submit "Save", class: "btn btn-primary" %>
    </div>
  </fieldset>
<% end %>
