<%= render partial: "shifts/schedule/left_location", collection: Location.active.in_group(left_loc_group), locals: {day: day} %>
<div class="day divider" style="height: <%= @divider_height %>px;"></div>
