<div class="filter-bar v2">
  <div class="calender-holder">
    <a href="#" class="icon-calender ico"></a>
    <div class="dates-range">
      <%= link_to shifts_path(date: (@period_start - 7)), class: "btn-prev" do %>
        <span class="icon-angle-left"></span>
      <% end %>
      <span class="date"><%= "#{@period_start.to_s(:just_date_short)} - #{(@period_start + 6.days).to_s(:just_date_short)}" %></span>
      <%= link_to shifts_path(date: (@period_start + 7)), class: "btn-next" do %>
        <span class="icon-angle-right"></span>
      <% end %>
      <a href="#" class="filter-btn"><span class="icon-filter"></span></a>
    </div>
  </div>
  <div class="slide">
    <div class="select time-filter">
      <select>
        <option>Weekly</option>
        <option>Weekly</option>
        <option>Weekly</option>
        <option>Weekly</option>
      </select>
    </div>
  </div>
  <div class="right-btns hidden-mobile">
    <%= link_to "Add New Shift", :new_shift, remote: true, class: "btn btn-primary" %>
  </div>
</div>

<div class="scheduletable">
  <table>
    <thead>
      <tr>
        <th class="select">
          <select>
            <option>Sort by Employees</option>
            <option>Option</option>
            <option>Option</option>
            <option>Option</option>
          </select>
        </th>
        <% @day_collection.each do |day| %>
        <th>
          <%= day.strftime('%^a') %>
          <span class="counter">
            <% if day == Date.today %>
              <em class="current">
                <%= day.strftime('%-d') %>
              </em>
            <% else %>
              <%= day.strftime('%-d') %>
            <% end %>
          </span>
        </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <tr class="hidden">
        <td colspan="8">Shifts</td>
      </tr>
      <% @employees.each do |employee| %>
      <% shifts = @shifts[employee.id] %>
      <tr>
        <td>
          <div class="image-holder">
            <%= link_to "#" do image_tag(employee.user_profile.photo.url(:thumbnail)) end %>
            <a href="#"><img src="images/img2.jpg" alt="image description"></a>
          </div>
          <div class="text">
            <strong class="title"><%= employee.name %></strong>
            <span class="userno">215-555-5555</span>
          </div>
        </td>
        <% @day_collection.each do |day| %>
        <td>
          <% shifts.each do |shift| %>
            <% if shift.start.between?(day.beginning_of_day, day.end_of_day) %>
            <%
              s = shift.start
              hour = s.strftime('%l')
              min = s.strftime(':%M') unless s.strftime('%M') != 0
              ampm = s.strftime('%p')
              start_time = "#{hour}#{min} #{ampm}"

              e = shift.end
              hour = e.strftime('%l')
              min = e.strftime(':%M') unless e.strftime('%M') != 0
              ampm = e.strftime('%p')
              end_time = "#{hour}#{min} #{ampm}"
            %>
            <%= link_to edit_shift_path(shift), remote: true do %>
            <div class="shift">
              <strong class="title"><%= employee.name %></strong>
              <span class="time">
                <%= start_time %> <em>-</em> <span><%= end_time %></span></span>
                <!-- TODO:  Add Position Title-->
              <span class="desciption">Position Name</span>
            </div>
            <% end %>
            <% end %>
          <% end %>
        </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
