// This is the SCSS manifest for all of Shifts' CSS/SASS. This file
// imports all of our stylesheets to compile into one CSS file.
//
// Order matters! The font must be loaded before everything else, or else it
// won't be available to Bootstrap. Bootstrap must come second, since all of our
// styling is based on the variables and mixins that Bootstrap defines. After
// that, the order is pretty self explanatory. The order of imports under
// "Partial Imports" doesn't really matter, as long as layouts comes first.
// Make sure to add a new import rule whenever you make a new folder in the
// stylesheets directory.
// -----------------------------------------------------------------------------

// $navbar-default-bg: #8b9b6c;
// $navbar-default-color: #fefefe;
// $navbar-default-link-color: #fefefe;
// $navbar-default-link-active-color: #fefefe;
// $navbar-default-border: darken($navbar-default-bg, 1%);
// $font-size-base: 14px;
// $font-size-h1: floor($font-size-base * 2.3);
//
// @import 'bootstrap';
//
// body { padding-top: 60px; }
//
// @import "font-awesome";
//
// // @import 'jquery.ui.all';
// @import 'jquery-tablesorter/theme.default';
// @import 'jquery.Jcrop';
//
// @import 'global';
//
// @import 'datepicker';
// @import 'links';
// @import 'loc_groups';
// @import 'nav';
//
// @import 'notice';
// @import 'payforms';
// @import 'public_view';
// @import 'report';
// @import 'shift';
// @import 'shift_view_refactoring';
// @import 'templates_show';
// @import 'timeline';
// @import 'user_profile';
// @import 'verify_import';
// @import 'token-input';
// @import 'tokeninput-facebook'


$breakpoints: (
	'xs-phone': 320px,
	'phone': 579px,
	'tablet': 767px,
	'desktop': 1023px,
	'widescreen': 1439px
	);

// keywords
$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
	);

// ligatured operators ≥ ≤

@import 'vendors/include-media';
@import 'vendors/normalize';

@import 'base/variables';
@import 'base/functions';
@import 'base/mixins';
@import 'base/helpers';
@import 'base/reset';
@import 'base/typography';
@import 'base/forms';
@import 'vendors/fontello';
@import 'vendors/fontface';
@import 'vendors/header';
@import 'vendors/jcf';

body{
	line-height:16px;
}
a{
	text-decoration:none;
	@extend %transition;
}
.container{
	@extend %clearfix;
	max-width:1238px;
	padding: 0 10px;
	margin:0 auto;
}
#wrapper{
	overflow:hidden;
	padding: 60px 0 0 0;
	width:100%;
	@include media(">tablet"){
		padding: 80px 0 0 0;
	}
	@include media(">desktop"){
		padding: 80px 0 0 275px;
	}
}
.w1{
	overflow:hidden;
	width:100%;
	@extend %transition;
}
.w2{
	@extend %clearfix;
	padding:15px 15px 15px;
	@include media(">tablet"){
		padding: 20px 20px 20px;
	}
	@include media(">widescreen"){
		padding: 20px 43px 20px 34px;
	}
}
.infobox{
	@extend %clearfix;
	padding:0 0 20px;
	@include media(">tablet"){
		padding:24px 0 57px;
	}
	.box{
		background:$white;
		border:solid 1px $iron;
		border-radius:4px;
		text-align:center;
		overflow:hidden;
		padding: 23px 0 0px;
		@include media(">tablet"){
			padding: 23px 0 21px;
		}
		.info-holder{
			width:50%;
			border-left:solid 1px $iron;
			float:left;
			padding: 0 10px;
			margin: 0 0 20px;
			@include media(">tablet"){
				padding: 0 20px;
				margin:0;
				width:25%;
			}
			@include media("<=tablet"){
				&:nth-child(odd){
					border:0;
				}
			}
			&:first-child{
				border:0;
			}
		}
	}
	.counter{
		display:block;
		font-size:28px;
		color:$outerspace;
		font-weight:500;
		margin: 0 0 11px;
		line-height:29px;
	}
	.title{
		display:block;
		color:$regentgray;
		font-weight:500;
	}
	.head{
		@extend %clearfix;
		padding: 0 0 11px;
		border-bottom:solid 1px $iron2;
		margin: 0 0 16px;
	}
	h1{
		font-size:18px;
		line-height:20px;
		margin:0 0 8px;
		font-weight:500;
		@include media(">tablet"){
			float:left;
			margin:0;
			max-width:900px;
		}
	}
	.time{
		font-size:16px;
		color:$outerspace;
		font-weight:400;
		line-height:18px;
		display:block;
		@include media(">tablet"){
			float:right;
		}
	}
	.btn-info, .btn-primary{
		@include media(">tablet"){
			float:right;
			margin: -13px 0 3px;
		}
	}
	&.schedule{
		.head{
			margin: 0 0 26px;
		}
	}
}
.calender-box{
	@extend %clearfix;
	background:#fbfcfd;
	border:solid 1px $iron3;
	border-radius:4px;
	table{
		text-align:center;
		width:100%;
		color:$pickledbluewood;
		border-collapse:separate;
		table-layout:fixed;
		th{
			font-size:11px;
			font-weight:500;
			color:$rollingstone;
			line-height:13px;
			border-left:1px solid $iron3;
			padding: 13px 8px 12px;
			position:relative;
			&:before{
				position:absolute;
				left:-3px;
				right:0;
				bottom:0;
				content:"";
				height:3px;
				background:$white;
				border-top:solid 1px $iron;
			}
			&:first-child{
				border-left:0;
				&:before{
					left:0;
				}
			}
			span{
				@include media("<=tablet"){
					display:none;
				}
			}
		}
		td{
			padding: 10px 10px;
			height:60px;
			text-align:right;
			border:solid 1px $iron3;
			border-bottom:0;
			border-right:0;
			vertical-align:top;
			@include media(">tablet"){
				padding: 12px 20px;
				height:77px;
			}
			&:first-child{
				border-left:0;
			}
			span{
				display:inline-block;
				vertical-align:top;
				width:23px;
				height:23px;
				background:$brightgray;
				border-radius:100%;
				color:$white;
				padding: 0 0 0 2px;
				text-align: center;
				line-height:23px;
				margin: -4px 0 0;
				@include media(">tablet"){
					margin:0;
				}
			}
		}
		tbody{
			border-top:solid 2px $white;
		}
	}
}
.btn{
	display:inline-block;
	vertical-align:top;
	padding: 10px 15px;
	border-radius:2px;
	font-size:12px;
	font-weight:500;
	line-height:14px;
	font-family:$opensans;
	@include media(">tablet"){
		font-family:$base-font-sans-serif;
	}
}
.btn-info{
	color:$white;
	background:$nepal;
	&:hover{
		background:$outerspace;
	}
}
.table-block{
	@extend %clearfix;
	background:$white;
	border:solid 1px $iron3;
	border-radius:4px;
	table{
		text-align:center;
		width:100%;
		color:$pickledbluewood;
		border-collapse:separate;
		table-layout:fixed;
		font-size:12px;
		@include media(">tablet"){
			font-size:14px;
		}
		&.timeoff{
			text-align:left;
			th{
				&.status{
					width:120px;
					@include media(">widescreen"){
						width:179px;
					}
				}
				&.date{
					width:28%;
					@include media(">widescreen"){
						width:31%;
					}
				}
				&.employee{
					width:25%;
					@include media(">widescreen"){
						width:30%;
					}
				}
			}
			th,td{
				padding-left:10px;
				text-align:left;
				padding-right:10px;
				@include media(">widescreen"){
					padding-left:24px;
					padding-right:19px;
				}
				&:first-child{
					padding-left:10px;
					@include media(">widescreen"){
						padding-left:15px;
					}
				}
				&:nth-child(2){
					padding-left:10px;
					@include media(">widescreen"){
						padding-left:19px;
					}
				}
			}
			td{
				.status{
					vertical-align: top;
					margin: 4px 8px 0 0;
					@include media(">tablet"){
						margin: 4px 13px 0 0;
					}
				}
			}
		}
		&.employees{
			text-align:left;
			th{
				text-align:left;
				padding: 12px 15px 10px;
				&.activity{
					width:47%;
				}
				&:nth-child(2){
					padding-left:16px;
				}
				&.employee{
					width: auto;
				}
				&.invitation{
					width:137px;
					text-align:left;
				}
			}
			td{
				padding:19px 18px 20px;
				.status{
					vertical-align: top;
					margin: 4px 8px 0 0;
					@include media(">tablet"){
						margin: 4px 9px 0 2px;
					}
				}
				&:last-child{
					text-align:right;
				}
				&:nth-child(2){
					padding-left:16px;
				}
				&.neversent{
					color:$regentgray;
				}
			}
			a{
				color:$regentgray;
				&:hover{
					color:$black;
				}
			}
		}
		th{
			font-size:12px;
			font-weight:400;
			color:$brightgray;
			line-height:16px;
			border-left:1px solid $iron3;
			padding: 12px 8px 10px;
			position:relative;
			text-align:center;
			@include media(">tablet"){
				font-size:14px;
			}
			&:before{
				position:absolute;
				left:-3px;
				right:0;
				bottom:0;
				content:"";
				height:3px;
				background:$white;
				border-top:solid 1px $iron;
			}
			&:first-child{
				width:70px;
				border-left:0;
				@include media(">tablet"){
					width:94px;
				}
				&:before{
					left:0;
				}
			}
			&:nth-child(2){
				text-align:left;
				width:30%;
				padding-left:26px;
				@include media(">widescreen"){
					width:51.5%;
				}
			}
			span{
				@include media("<=tablet"){
					display:none;
				}
			}
		}
		td{
			padding: 19px 10px 20px;
			border:solid 1px $iron3;
			border-bottom:0;
			border-right:0;
			color:$brightgray;
			vertical-align:top;
			&:first-child{
				border-left:0;
			}
			.status{
				display:inline-block;
				vertical-align: middle;
				width:8px;
				height:8px;
				background:$loblolly3;
				border-radius:100%;
				&.online{
					background:$conifer;
				}
				&.away{
					background:$neoncarrot;
				}

			}
			&:nth-child(2){
				text-align:left;
				padding-left:26px;
			}
		}
		.neg{
			color:$burningorange;
		}
		tbody{
			border-top:solid 2px $white;
		}
	}
	@include media("<=tablet"){
		width:100%;
		overflow:auto;
		table{
			min-width:600px;
		}
	}
}
.filter-bar{
	@extend %clearfix;
	margin: -15px 0 0;
	padding: 0 0 0;
	@include media(">tablet"){
		padding: 9px 0 10px;
		margin:0;
		border:0;
		border-radius:0;
		background:none;
	}
	.right-btns{
		@extend %clearfix;
		text-align:center;
		padding: 10px 0 0;
		margin: 0  0 2px;
		@include media(">tablet"){
			float:right;
			padding:0;
			text-align:right;
		}
	}
	.btn, .select{
		display:inline-block;
		vertical-align:top;
		min-width:82px;
		text-align:center;
		border-radius:3px;
		margin: 0 3px 8px;
		@include media(">tablet"){
			margin: 0 0 0 2px;
		}
	}
	.filter-select{
		margin:0;
		width:100%;
		@include media(">tablet"){
			width:132px;
			margin:0;
		}
	}
	.btn-primary{
		padding:11px 16px;
		@include media(">tablet"){
			padding:10px 16px;
		}
	}
	.calender-holder{
		overflow:hidden;
		margin: 0 -15px 0;
		padding: 10px 15px 15px;
		border-bottom:solid 1px $iron3;
		display:block;
		background:$athensgray;
		@include media(">tablet"){
			float:left;
			border:0;
			padding:0;
			margin:0;
		}
		.ico{
			width:36px;
			margin: 0 1px 0 0;
			height:36px;
			border-radius:3px;
			text-align:center;
			color:$aluminium;
			padding: 9px 0 8px;
			background:$white;
			display:none;
			border:solid 1px $iron;
			@include media(">tablet"){
				display:inline-block;
				vertical-align:top;
			}
		}

	}
	.dates-range{
		text-align:center;
		position:relative;
		padding:5px 55px 0;
		text-align:center;
		@include media(">tablet"){
			display:inline-block;
			vertical-align:top;
			border:solid 1px $iron;
			border-radius:3px;
			padding:0;
			margin:0;
			background:$white;
		}
		.btn-prev, .btn-next{
			position:absolute;
			left:0;
			font-size:20px;
			line-height:20px;
			color:$graychateau;
			top:0;
			@include media(">tablet"){
				width:33px;
				float:left;
				height:35px;
				padding: 9px 5px;
				font-size:16px;
				line-height:14px;
				position:static;
				color:$graychateau;
			}
			&:hover{
				color:$brightgray;
				@include media(">tablet"){
					background:$brightgray;
					color:$white;
					opacity:1;
				}
			}
		}
		.btn-next{
			left:auto;
			right:0;
		}
		.date{
			color:$brightgray;
			display:block;
			width: auto;
			font-weight:500;
			font-size:12px;
			line-height:14px;
			@include media(">tablet"){
				border:solid 1px $iron;
				border-width: 0 1px;
				float:left;
				text-overflow:ellipsis;
				padding: 10px 5px 11px;
				font-weight:400;
				width:123px;
			}
		}
	}
	&.inner{
		@include media(">tablet"){
			border-bottom:solid 1px $iron;
			padding: 7px 0 11px;
			margin: 0 0 16px;
		}
		.dates-range{
			.date{
				font-weight:500;
				@include media(">tablet"){
					width:84px;
				}
			}
		}
		.btn-success, .btn-primary{
			padding:10px 13px;
			margin:0 3px 5px 0;
			@include media(">tablet"){
				margin:0;
			}
		}
	}
	.time-filter{
		display:block;
		@include media("<=tablet"){
			margin:0;
		}
		@include media(">tablet"){
			margin: 0 0 0 5px;
			display:block;
		}
		.jcf-select{
			height:37px;
			.jcf-select-text{
				overflow:visible;
				color:$oslogray;
			}
		}
	}
	&.v2{
		@include media(">tablet"){
			border-bottom:solid 1px $iron3;
			padding: 7px 0 14px;
			margin: 0 0 25px;
		}
		.btn{
			min-width:140px;
			&.btn-shift{
				@include media(">tablet"){
					min-width:90px;
				}
			}
		}
		.calender-holder{
			.ico{
				width:34px;
				height:34px;
				margin: 0 0;
			}
		}
		.right-btns{
			padding:0;
			margin:0;
		}
		.dates-range .btn-prev, .dates-range .btn-next{
			@include media(">tablet"){
				height:32px;
				width:30px;
			}
		}
		.dates-range{
			.date{
				@include media(">tablet"){
					padding:9px 5px;
					width:128px;
					font-weight:500;
					color:$brightgray;
				}
			}
		}
		.time-filter{
			.jcf-select{
				height:34px;
			}
		}
	}
	.btn{
		&.add{
			@include media("<=tablet"){
				position: fixed;
				right:45px;
				z-index:1000;
				top:24px;
				margin:0;
				width:auto;
				padding:0;
				border:0;
				height:auto;
				font-size:0;
				line-height:0;
				color:$loblolly2;
				min-width:inherit;
				background:none;
				&:before{
					display:block;
					content:"\e810";
					color:$white;
					font:15px/15px $fontello;
				}
				&:hover{
					opacity:0.8;
				}
			}
		}
	}
	.filter-btn{
		position:fixed;
		right:52px;
		top:21px;
		font-size:20px;
		line-height:20px;
		z-index:1000;
		color:$loblolly2;
		&.btn2{
			right:68px;
		}
		@include media(">tablet"){
			display:none;
		}
		&:hover{
			opacity:0.8;
		}
	}
	.slide{
		overflow:hidden;
		padding: 10px 0 10px;
		&.inner{
			padding-bottom:0;
			padding-top:13px;
			@include media(">tablet"){
				padding:0;
			}
		}
		@include media(">tablet"){
			padding:0;
			display:inline-block !important;
			vertical-align:top !important;
			position:static !important;
		}
	}
	.hidden-mobile{
		display:none;
		@include media(">tablet"){
			display: inline-block;
		}
	}
	.btn-shift{
		@include media(">tablet"){
			background:#04b6db;
			color:$white;
			&:hover{
				background:#23a8c4;
			}
		}
	}
	.publish-filter{
		width:139px;
		@include media("<=tablet"){
			margin:0 2px;
			width:125px;
		}
	}
	.filter-btns{
		display:inline-block;
		vertical-align:top;
		background:$white;
		border-radius:4px;
		width:140px;
		margin: 0 2px;
		border:solid 1px #d9dcdf;
		@include media(">tablet"){
			margin: 0 0 0 22px;
		}
		a{
			float:left;
			width:50%;
			line-height:16px;
			text-align: center;
			font-size:12px;
			font-weight:500;
			color:#858f94;
			padding: 9px 5px;
			border-left:solid 1px #d9dcdf;
			&:first-child{
				border:0;
			}
			&:hover, &.active{
				color:$white;
				background:#99b2bf;
			}
		}
	}
	&.timeoff{
		@include media("<=tablet"){
			padding-top:15px;
			.filter-select{
				display:inline-block;
				vertical-align:top;
				width:132px;
			}
			.right-btns{
				display:inline-block;
				vertical-align:top;
				padding:0;
			}
		}
	}
}
.btn-default{
	border:solid 1px $iron;
	background:$white;
	color:$oslogray;
	font-size:12px;
	&:hover{
		background:$brightgray;
		color:$white;
		border-color:$brightgray;
	}
}
.btn-primary{
	background:$azureradiance;
	color:$white;
	&:hover{
		background:$dodgerblue;
	}
}
.btn-danger{
	background:$flamingo;
	color:$white;
	&:hover{
		background:$jaffa;
	}
}
.btn-success{
	background:$nepal;
	color:$white;
	&:hover{
		background:$neptune;
	}
}
.user-page{
	background:$white;
	height:100vh;
	#wrapper{
		height:100%;
		padding:0;
		overflow:auto;
		@include v-align;
	}
	#header, .topbar{
		@include media(">tablet"){
			display:none;
		}
	}
}
.clock-page{
	background:$white;
	height:100vh;
	@include media("<=tablet"){
		height:auto;
	}
	#wrapper{
		height:100%;
		padding:0;
		overflow:auto;
		@include v-align;
		@include media("<=tablet"){
			overflow:hidden;
		}
	}
	#header, .topbar{
		@include media(">tablet"){
			display:none;
		}
	}
	.w1{
		@include media("<=tablet"){
			max-width:100% !important;
			vertical-align:top !important;
			overflow:auto;
			.main-holder{
				padding: 60px 0 0;
			}
			.main-holder{
				.logo{
					display:none;
				}
			}
		}
	}
}
.main-holder{
	padding: 20px 15px;
	max-width:100%;
	width:100%;
	.logo{
		display:inline-block;
		vertical-align:top;
		margin: 0 0 25px;
		@include media(">phone"){
			margin: 0 0 43px;
		}
	}
	.newuser{
		display:block;
		text-align:center;
		font-size:14px;
		line-height:16px;
		color:#727c81;
		a{
			color:$azureradiance;
			&:hover{
				color:$rollingstone;
			}
		}
	}
}
.clockin-box{
	background:$white;
	overflow:hidden;
	@include media(">tablet"){
		border:solid 1px $iron;
		box-shadow: 0 0 45px rgba(125,131,133,.1);
		max-width:823px;
		margin:0 auto;
		padding: 35px 23px 27px;
		border-radius:4px;
	}
	.timeinfo, .map{
		@include media(">tablet"){
			display:none;
		}
	}
	.timeinfo{
		@include media("<=tablet"){
			overflow:hidden;
			padding: 11px 15px;
			text-align: left;
			font-size:12px;
			color:$rollingstone;
			p{ margin:0;}
			.holder{
				border-left:solid 4px $pictonblue2;
				padding: 0 0 0 8px;
			}
			.time{
				display:block;
				font-size:24px;
				line-height:32px;
				color:$brightgray;
			}
		}
	}
	.current-time{
		display:block;
		font-size:32px;
		background:$brightgray;
		padding: 25px 15px 26px;
		line-height:34px;
		color:$white;
		@include media(">tablet"){
			float:right;
			padding:0;
			font-size:80px;
			line-height:72px;
			color:$atensgray;
			background:none;
		}
		@include media(">desktop"){
			font-size:110px;
			line-height:98px;
		}
		sub{
			font-size:16px;
			line-height:16px;
			display:inline-block;
			vertical-align:bottom;
			margin: 0 0 7px 4px;
			@include media(">tablet"){
				margin: 0 0 13px;
				font-size:24px;
				line-height:24px;
			}
		}
	}
	.text{
		font-size:20px;
		text-align:left;
		line-height:22px;
		color:$brightgray;
		float:left;
		display:none;
		p{ margin: 0 0 25px;}
		@include media(">tablet"){
			display:block;
		}
	}
	.map{
		overflow:hidden;
		position:relative;
		&:after{
			position:absolute;
			left:0;
			right:0;
			bottom:0;
			content:"";
			height:150px;
			z-index:1;
			background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
			opacity:0.9;
		}
		img{
			@extend %img-full-width;
		}
		.btn{
			position:absolute;
			left:15px;
			z-index:10;
			right:15px;
			bottom:17px;
			font-size:14px;
			line-height:16px;
			padding: 14px 15px;
		}
	}
}
.userform{
	width:100%;
	background:$white;
	border:solid 1px $iron;
	box-shadow: 0 0 45px rgba(125,131,133,.1);
	padding: 31px 24px 24px;
	text-align:left;
	border-radius:4px;
	margin: 0 auto 29px;
	@include media(">phone"){
		width:502px;
	}
	h1{
		font-size:26px;
		line-height:28px;
		color:$brightgray;
		margin: 0 0 15px;
		font-weight:400;
	}
	.welcome-txt{
		display:block;
		color:$rollingstone;
		font-size:14px;
		margin: 0 0 28px;
	}
	.row{
		@extend %clearfix;
		margin: 0 0 18px;
		&.row2{
			margin: 0 0 24px;
		}
	}
	label{
		font-size:14px;
		color:$pickledbluewood;
		font-weight:500;
		display:inline-block;
		vertical-align:top;
		margin: 0 0 9px;
	}
	.form-control{
		width:100%;
		display:block;
		border:solid 1px $iron;
		border-radius:3px;
		height:42px;
		font-size:14px;
		padding: 11px 12px;
		line-height:18px;
		color:$regentgray;
		outline:none;
		font-family:$opensans;
		@include media(">tablet"){
			font-family:$base-font-sans-serif;
		}
		&:focus{
			border-color:$azureradiance;
		}
	}
	.input-error{
		.form-control{
			border-color:$red;
		}
	}
	.btn{
		border:0;
		width:150px;
		height:42px;
		text-align:left;
		font-size:13px;
		line-height:16px;
		font-weight:500;
		position:relative;
		padding: 12px 22px 12px 15px;
		position:relative;
		.icon-angle-right{
			position:absolute;
			right:16px;
			top:12px;
			font-size:18px;
			line-height:18px;
		}
	}
	.text{
		overflow:hidden;
		font-size:14px;
		line-height:18px;
		margin: 0 0 29px;
		font-weight:300;
		color:#727c81;
		border-bottom:solid 1px $mercury;
	}
	p{ margin: 0 0 18px;}
	.heading{
		font-size:18px;
		color:$azureradiance;
		font-weight:300;
		margin: 0 0 27px;
		display:block;
	}
	&.clockin{
		background:none;
		border:0;
		margin:0;
		width:auto;
		padding:0;
		box-shadow:none;
		display:none;
		@include media(">tablet"){
			display:block;
		}
		.form-control{
			float:left;
			margin: 0 8px 0 0;
			width:263px;
		}
		.row{ margin:0;}
	}
}
.my-schedule{
	@extend %clearfix;
	@include media("<=tablet"){
		width:100%;
		overflow:auto;
		.schedule-table{
			min-width:530px;
		}
	}
}
.schedule-table{
	background:#fbfcfd;
	border:solid 1px $iron3;
	width:100%;
	text-align:right;
	border-collapse:separate;
	th, td{
		height:76px;
		position:relative;
		border:solid 1px $iron;
		padding: 12px 10px 40px;
		vertical-align:top;
		width:14.28%;
		border-width:  1px 0 0 1px;
		@include media(">tablet"){
			padding: 12px 18px 40px;
		}
		&:first-child{
			border-left:0;
		}
		&:last-child, &:nth-child(6){
			.popup-holder{
				.popup{
					left:auto;
					right:100%;
					margin: 0 10px 0 0;
					&:after,&:before{
						left: auto;
						right:-8px;
						border-width: 8px 0 8px 8px;
						border-color: transparent transparent transparent $iron4;
					}
					&:after{
						left:auto;
						right:-7px;
						border-width: 8px 0 8px 8px;
						border-color: transparent transparent transparent $white;
					}
				}
			}

		}
	}
	tr{
		&:first-child{
			td, th{
				border-top:0;
			}
		}
	}
	th{
		font-size:14px;
		color:$loblolly;
		font-weight:400;
	}
	.scheduled{
		background:$porcelain;
	}
	.upcomming{
		color:$loblolly;
	}
	.active{
		display:inline-block;
		vertical-align:top;
		width:23px;
		height:23px;
		background:$brightgray;
		border-radius:100%;
		color:$white;
		text-align: center;
		line-height:23px;
		margin: -4px 0 0;
		font-family:$opensans;
		@include media(">tablet"){
			margin:0;
		}
	}
	.popup-holder{
		position:absolute;
		left:10px;
		bottom:10px;
		width:23px;
		height:23px;
		.popupopen{
			display:block;
			width:23px;
			height:23px;
			font-size:12px;
			line-height:17px;
			text-align:center;
			padding: 2px;
			font-family:$opensans;
			border:solid 1px $flamingo;
			border-radius:3px;
			color:$flamingo;
			&:hover{
				background:$flamingo;
				color:$white;
			}
		}
		&.popup-active{
			.popupopen{
				background:$flamingo;
				color:$white;
			}
		}
		.popup{
			position:absolute;
			left:100%;
			top:-66px;
			background:$white;
			min-height:157px;
			width:202px;
			z-index:15;
			text-align:left;
			border-radius:5px;
			margin: 0 0 0 18px;
			display:none;
			box-shadow: 0 0 18px rgba(125,131,133,.2);
			border:solid 1px $iron4;
			padding: 15px 17px 44px;
			&:after,&:before{
				position:absolute;
				left:-8px;
				top:71px;
				content:"";
				border-style: solid;
				border-width: 8px 8px 8px 0;
				border-color: transparent $iron4 transparent transparent;
			}
			&:after{
				z-index:2;
				left:-7px;
				border-color: transparent $white transparent transparent;
			}
			.close {
				position:absolute;
				left:19px;
				font-size:18px;
				line-height:18px;
				bottom:15px;
				color:$flamingo;
				&:hover{
					opacity:0.7;
				}
			}
			.heading-holder{
				border-bottom:solid 1px $iron4;
				overflow:hidden;
				padding: 0 0 10px;
				margin: 0 0 16px;
			}
			.date{
				float:left;
				font-size:14px;
				width:90px;
				line-height:16px;
				color:$outerspace;
			}
			.status{
				float:right;
				font-size:11px;
				font-weight:400;
				line-height:12px;
				background:$shamrock;
				color:$white;
				text-align:center;
				border-radius:9px;
				padding: 3px 6px;
			}
			.time{
				display:block;
				font-size:12px;
				color:$regentgray;
				margin: 0 0 5px;
				font-weight:500;
			}
			.title{
				display:block;
				font-size:14px;
				font-weight:400;
				color:$pickledbluewood;
			}
		}
	}
}
.btn-warning{
	background:$atlantis;
	color:$white;
	&:hover{
		background:$lima;
	}
}
.registration-box{
	overflow:hidden;
	margin: 9px 0 20px;
	background:$white;
	border-radius:5px;
	padding: 21px 24px 23px;
	border:solid 1px $iron;
	font-size:12px;
	line-height:14px;
	color:$rollingstone;
	@include media(">tablet"){
		margin: 9px 0 33px;
	}
	a{
		color:$azureradiance;
		&:hover{
			color:$black;
		}
	}
	p{ margin:0;}
	.heading{
		display:block;
		color:$rollingstone;
		font-size:18px;
		font-weight:300;
		margin: 0 0 18px;
		line-height:22px;
		span{
			color:$outerspace;
		}
	}
	.btn{
		padding:11px 20px;
		color:$white;
		margin: 0 0 16px;
		&:hover{
			color:$white;
		}
	}
}
.scheduletable{
	overflow:hidden;
	position:relative;
	@extend %clearfix;
	background:#fefeff;
	border:solid 1px $iron3;
	border-radius:4px;
	table{
		text-align:left;
		width:100%;
		color:$pickledbluewood;
		border-collapse:separate;
		table-layout:fixed;
		th{
			font-size:11px;
			font-weight:500;
			color:$rollingstone;
			line-height:13px;
			text-align:center;
			border-left:1px solid $iron3;
			padding: 13px 8px 12px;
			position:relative;
			&:before{
				position:absolute;
				left:-3px;
				right:0;
				bottom:0;
				content:"";
				height:3px;
				background:$white;
				border-top:solid 1px $iron;
			}
			&:first-child{
				border-left:0;
				&:before{
					left:0;
				}
			}
			&.select{
				padding:0;
				width:157px;
				vertical-align:top;
				.jcf-select {
					border:0;
					height:32px;
					.jcf-select-text{
						color:$azureradiance;
					}
					.jcf-select-opener{
						&:after{
							color:$azureradiance;
						}
					}
				}
			}
		}
		.hidden{ display:none;}
		td{
			padding: 8px 7px 7px;
			border:solid 1px $iron3;
			border-bottom:0;
			border-right:0;
			position:relative;
			vertical-align:top;
			@include media(">tablet"){
				padding: 8px 1px 7px 3px;
			}
			@include media(">widescreen"){
				padding: 8px 7px 7px;
			}
			&:first-child{
				border-left:0;
				padding-left:15px;
				padding-top:10px;
			}
		}
	}
	.image-holder{
		float:left;
		width:30px;
		height:30px;
		overflow:hidden;
		margin: 2px 7px 0 0;
		overflow:hidden;
		border-radius:100%;
		img{
			@extend %img-full-width;
		}
	}
	.shift{
		overflow:hidden;
		font-size:11px;
		line-height:13px;
		color:$outerspace;
		position:relative;
		color:$outerspace;
		min-height:40px;
		padding: 5px 10px 6px 12px;
		background: image-url("bg-shift.jpg");
		.title{ display:none;}
		.time{
			display:block;
			font-weight:500;
			margin: 0 0 3px;
		}
		&:after{
			position:absolute;
			left:0;
			width:4px;
			background:$pictonblue;
			top:2px;
			bottom:3px;
			content:"";
		}
		&.purpal{
			&:after{
				background:$eastside;
			}
		}
		&.poloblue{
			&:after{
				background:$poloblue;
			}
		}
		&.green{
			&:after{
				background:$yellowgreen;
			}
		}
		&.red{
			color:$pomegranate;
			background: image-url("bg-shift2.jpg");
			&:after{
				background:$forly;
			}
		}
	}
	.text{
		overflow:hidden;
		.title{
			font-size:14px;
			color:$pickledbluewood;
			font-weight:400;
			line-height:16px;
			display:block;
		}
		.userno{
			font-size:12px;
			line-height:16px;
			color:$hitgray;
			padding:3px 0 0 4px;
			display:block;
			font-weight:500;
		}
	}
	@include media("<=tablet"){
		border:0;
		margin: 0 -15px -15px;
		padding: 0 0 20px;
		table{
			float:left;
			width:100%;
			thead, tbody, td, th, tr{
				float:left;
				border:0;
				width:100%;
			}
			thead{
				padding: 7px 0 10px;
			}
			th{
				width:14.28%;
				border:0;
				font-size:10px;
				font-weight:500;
				position:relative;
				padding:4px 8px 11px;
				&.select{ display:none;}
				&:before{ display:none;}
				span{
					display:block;
					margin: 7px 0 0;
					font-size:11px;
				}
				&.active{
					&:after{
						position:absolute;
						left:50%;
						bottom:0;
						margin: 0 0 0 -3px;
						content:"";
						width:6px;
						height:6px;
						background:$azureradiance;
						border-radius:100%;
					}
				}
				.current{
					width:21px;
					height:21px;
					border-radius:100%;
					color:$white;
					padding: 4px 0 0;
					font-size:11px;
					margin:-5px auto -1px;
					font-style:normal;
					background:$brightgray;
					font-weight:500;
					font-family:$opensans;
					display:block;
				}
			}
			td{
				position:relative;
				padding:0 0 0 55px !important;
				border:0;
			}
			.image-holder{
				display:none;
			}
			.text{
				display:none;
			}
			.shift{
				background:none;
				overflow:visible;
				float:left;
				width:100%;
				min-height:48px;
				padding:8px 10px 11px 14px;
				&.red{ background:none;}
				&:after{
					width:4px;
					top:7px;
					bottom:8px;
				}
				&:before{
					position:absolute;
					left:-70px;
					right:0;
					bottom:0;
					content:"";
					height:1px;
					background:$iron2;
				}
				.title{
					display:block;
					font-size:12px;
					line-height:14px;
					font-weight:400;
					color:$rollingstone;
					margin: 0 0 3px;
				}
				.time{
					position:absolute;
					left:-54px;
					padding: 4px 5px;
					top:5px;
					text-align:center;
					width:55px;
					margin:0;
					line-height:16px;
					em{ display:none;}
					span{ display:block;}
				}
				.desciption{ color:$rollingstone;}
			}
			.hidden{
				display:block;
				td{
					border-bottom:solid 1px $iron2;
					padding:8px 15px !important;
					font-size:14px;
					font-weight:500;
					color:$outerspace;
					line-height:16px;
					background:$athensgray;
				}
			}
			.hidden-mobile{ display:none;}
		}
	}
	.add{
		position:absolute;
		right:9px;
		top:11px;
		color:#a8b2b8;
		font-size:11px;
		line-height:10px;
		&:hover{
			color:$black;
		}
	}
	&.weekly{
		table{
			th{
				&.select{
					.jcf-select{
						.jcf-select-text{
							color:#04b6db;
						}
						.jcf-select-opener{ display:none;}
					}
				}
			}
		}
	}
}
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
	@include media("<=tablet"){
		left:0 !important;
		right:0 !important;
		width:100% !important;
		.fancybox-inner{
			width:100% !important;
		}
	}
}

.fancybox-skin {
	position: relative;
	overflow:hidden;
}
.fancybox-opened {z-index: 8030;}

.fancybox-outer, .fancybox-inner {
	position: relative;
	border-radius:4px;
}
.fancybox-inner {overflow: hidden;}
.fancybox-type-iframe .fancybox-inner {-webkit-overflow-scrolling: touch;}
.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}
.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}
.fancybox-close {
	position: absolute;
	cursor: pointer;
	z-index: 8040;
	right:13px;
	top:6px;
	font-size:35px;
	line-height:35px;
	color:$black;
	background:$white;
	padding: 0 0 0 8px;
	@include media(">tablet"){
		right:23px;
		top:1px;
		font-size:40px;
		line-height:40px;
	}
}
.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}
.fancybox-lock {
	overflow: hidden !important;
	width: auto;
}
.fancybox-lock body {overflow: hidden !important;}
.fancybox-lock-test {overflow-y: hidden !important;}
.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
}
.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}
.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}
.lightbox-holder {
	position: relative;
	overflow: hidden;
	height: 0;
}
.lightbox-content{
	width:100%;
	overflow:hidden;
	background:$white;
	border-radius:5px;
	position:relative;
	@include media(">tablet"){
		width:554px;
	}
	.heading-panel{
		overflow:hidden;
		background:$blackhaze;
		border:solid 1px $iron2;
		border-radius:5px;
		padding: 28px 40px 20px 18px;
	}
	.heading{
		display:block;
		font-size:18px;
		font-weight:300;
		color:$black;
	}
	.close{
		position:absolute;
		right:20px;
		top:20px;
		width:32px;
		height:32px;
		text-align:center;
		background:$white;
		border-radius:5px;
		font-size:10px;
		line-height:29px;
		color:$gray;
		border:solid 1px $iron;
		&:hover{
			background:$outerspace;
			border-color:$outerspace;
			color:$white;
		}
	}
	.panel-body{
		padding: 20px 20px 21px;
	}
}
.addform{
	overflow:hidden;
	label{
		font-size:14px;
		font-weight:500;
		color:$pickledbluewood;
		display:inline-block;
		vertical-align:top;
		margin: 0 0 9px;
	}
	.row{
		@extend %clearfix;
		margin: 0 0 13px;
	}
	.cols{
		@include media(">tablet"){
			margin-left:-19px;
		}
		.col{
			margin: 0 0 13px;
			@include media(">tablet"){
				float:left;
				width:238px;
				margin: 0 0 0 19px;
			}
			&.weg{
				@include media(">tablet"){
					width:105px;
				}
			}
			&.break{
				@include media(">tablet"){
					width:131px;
				}
			}
			&.staff{
				@include media(">tablet"){
					width:118px;
				}
			}
		}
	}
	.input-error{
		.form-control{
			border-color:$red;
		}
	}
	.form-control{
		display:block;
		width:100%;
		border-radius:3px;
		font-size:14px;
		line-height:18px;
		color:$regentgray;
		height:42px;
		outline:none;
		padding: 11px 11px;
		border:solid 1px $iron;
		font-family:$opensans;
		@include media(">tablet"){
			font-family:$base-font-sans-serif;
		}
		&:focus{
			border:solid 1px $iron;
		}
	}
	textarea{
		&.form-control{
			height:92px;
			resize:none;
		}
	}
	.jcf-select{
		height:41px;
		.jcf-select-text{
			font-size:14px;
			line-height:18px;
			color:$regentgray;
			font-weight:400;
			margin-left:10px;
			margin-top:11px;
		}
		.jcf-select-opener{
			top:15px;
			right:16px;
		}
	}
	.btns{
		overflow:hidden;
		padding: 7px 0 0;
		&.inner{
			.btn{
				width:112px;
			}
		}
	}
	.btn{
		border-radius:3px;
		padding:11px 15px;
	}
	.btn-default{
		width:82px;
		text-align:center;
		margin: 0 5px 0 0;
		float:left;
	}
	.btn-primary{
		border: solid 1px $azureradiance;
	}
	.btn-danger{
		border: solid 1px $flamingo;
	}
	.time-holder{
		overflow:hidden;
		border-radius:3px;
		border:solid 1px $iron;
		.from, .to{
			float:left;
			width:45%;
			@include media(">tablet"){
				width:auto;
			}

		}
		.to{
			width:45%;
			@include media(">tablet"){
				width:118px;
			}
		}
		.from{
			@include media(">tablet"){
				width:85px;
			}
			.jcf-select{
				.jcf-select-opener{ display:none;}
				.jcf-select-text{
					margin: 12px 5px 0 11px;
				}
			}
		}
		.label{
			float:left;
			width:10%;
			height:40px;
			text-align:center;
			padding: 11px 0;
			line-height:18px;
			background:$blackhaze;
			font-size:14px;
			border:solid 1px $iron;
			border-width:0 1px;
			color:$pickledbluewood;
			line-height:16px;
			@include media(">tablet"){
				width:32px;
			}
		}
		.jcf-select{
			border:0;
			.jcf-select-text{
				margin: 12px 36px 0 11px;
				color:$pickledbluewood;
			}
			.jcf-select-opener{
				background:$blackhaze;
				top:0;
				bottom:0;
				text-align:center;
				padding: 16px 0 0;
				width:34px;
				border-left:solid 1px $iron;
				right:0;
			}
		}
	}
	.break-time, .staff-limit{
		border:solid 1px $iron;
		border-radius:3px;
		height:42px;
		position:relative;
		padding: 0 0 0 44px;
		@include media(">tablet"){
			padding:0;
		}
		.label{
			float:right;
			width:44px;
			height:39px;
			text-align:center;
			padding: 11px 0 8px;
			line-height:18px;
			background:$blackhaze;
			font-size:14px;
			border-right:solid 1px $iron;
			color:$pickledbluewood;
			line-height:16px;
			position:absolute;
			left:0;
			top:0;
			@include media(">tablet"){
				position:static;
				border-right:0;
				border-left:solid 1px $iron;
			}
		}
	}
	.staff-limit {
		.jcf-number {
			width: 72px;
		}
	}
	.weges{
		border:solid 1px $iron;
		border-radius:3px;
		height:42px;
		padding: 0 0 0 29px;
		position:relative;
		@include media(">tablet"){
			padding:0;
		}
		.label{
			float: left;
			width:21px;
			height:39px;
			text-align:center;
			padding: 11px 0 8px;
			line-height:18px;
			background:$blackhaze;
			font-size:14px;
			border-right:solid 1px $iron;
			color:$pickledbluewood;
			line-height:16px;
			position:absolute;
			left:0;
			top:0;
			@include media(">tablet"){
				position:static;
			}
		}
		.jcf-number{
			float:right;
			width:100%;
			@include media(">tablet"){
				width:82px;
			}
		}
	}
	.jcf-number{
		float:left;
		width:100%;
		@include media(">tablet"){
			width:85px;
		}
		input{
			font-size:14px;
			line-height:18px;
			border-radius:3px;
			outline:none;
			height:40px;
			color:$pickledbluewood;
			padding: 11px 24px 11px 11px;
		}
	}
	.two-cols{
		margin: 0;
		@include media(">tablet"){
			margin: 0 0 13px -19px;
		}
		.col{
			position:relative;
			padding: 0 0 13px;
			@include media(">tablet"){
				float:left;
				width:50%;
				padding: 0 0  0 19px;
			}
			.datepicker{
				position:relative;
				.form-control{
					padding-left:34px;
				}
			}
		}
		.ui-datepicker-trigger{
			position:absolute;
			left:8px;
			top:14px;
		}
	}
	.input-error{
		border-color:$red;
		.jcf-select, .form-control{
			border-color:$red;
		}
	}
}
.ui-datepicker-trigger{
	border:0;
	background:none;
	font-size:0;
	line-height:0;
	&:after{
		display:block;
		content:"\e811";
		color:$aluminium;
		font:14px/14px $fontello;
	}
}
.ui-state-highlight{
	background:$outerspace !important;
	color:$white !important;
	border-color:$outerspace !important;
}
.ui-datepicker{
	.ui-datepicker-prev,
	.ui-datepicker-next{
		border:0;
		width: auto;
		height:auto;
		position:absolute;
		left:8px;
		top:5px;
		cursor:pointer;
		background:none;
		&:after{
			display:block;
			content:"\e800";
			color:$white;
			opacity:1;
			font:20px/20px $fontello;
		}
		&:hover{
			opacity:0.7;
		}
	}
	.ui-datepicker-title{ color:$white;}
	.ui-datepicker-next{
		left:auto;
		right:8px;
		&:after{
			content:"\e801";
		}
	}
	.ui-datepicker-header{
		border-radius:0;
		background:$outerspace;
		position:relative;
	}
}
