<section class="infobox">
	<header class="head">
		<h1>Shift Statistics</h1>
		<!-- <h1>My Totals This Week</h1> -->
		<time class="time" datetime="2016-05-23">
			<%= "#{@summary[:start_date].strftime("%b %d, %Y")} - #{@summary[:end_date].strftime("%b %d, %Y")}" %>
		</time>
	</header>
	<%# TODO: Use correct stats from original index.html %>
	<div class="box">
    <div class="info-holder">
      <strong class="counter"><%= @summary[:total] %></strong>
			<!-- <span class="title">Scheduled Hours</span> -->
			<span class="title">Total Shifts</span>
    </div>
    <div class="info-holder">
			<strong class="counter"><%= @summary[:missed] %></strong>
			<!-- <span class="title">Scheduled Wages</span> -->
			<span class="title">Missed Shifts</span>
    </div>
    <div class="info-holder">
			<strong class="counter"><%= @summary[:late] %></strong>
			<!-- <span class="title">Timesheet Hours</span> -->
			<span class="title">Late Shifts</span>
    </div>
    <div class="info-holder">
			<strong class="counter"><%= @summary[:left_early] %></strong>
			<!-- <span class="title">Timesheet Wages</span> -->
			<span class="title">Shifts Left Early</span>
    </div>
  </div>
</section>
