<% title "Sign in" %>

<%= form_for @user_session, html: { class: "userform form-validation" } do |f| %>
  <fieldset>
    <h1>Sign in</h1>
    <span class="welcome-txt">Welcome back!</span>
    <%= f.error_messages %>
    <div class="row">
      <%= f.label :login, "Email" %>
      <%= f.text_field :login, class: "form-control", placeholder: "e.g. example@mail.com", "data-required" => "true" %>
    </div>
    <div class="row row2">
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control", placeholder: "*******", "data-required" => "true" %>
    </div>
    <%= f.button type: "submit", class: "btn btn-primary" do %>Sign In <span class="icon-angle-right"></span><% end %>
  </fieldset>
<% end %>
<span class="newuser">Forgot your password? <%= link_to "Reset your password", controller: "password_resets", action: "new" %></span>
