<%= form_for (@location.new_record? ? [@department,@location] : @location), :html=>{:id=>"user_form", class: "addform form-validation"} do |f| %>
  <%= f.error_messages %>
  <fieldset>
    <div class="row">
      <div class="col">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control', "data-required" => true, placeholder: "Downtown Main" %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= f.label :description, "Address/Description" %>
        <%= f.text_field :description, class: 'form-control', "data-required" => true, placeholder: "123 Main St" %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= f.label :loc_group_id, "Location Group" %>
        <%= f.collection_select(:loc_group_id, current_user.loc_groups_to_admin(@department), :id, :name, {prompt: "Select a location group"}) %>
      </div>
    </div>
    <div class="row cols">
      <div class="col">
        <%= f.label :report_email, "Report Email" %>
        <%= f.text_field :report_email, class: 'form-control' %>
      </div>
      <div class="col staff">
        <%= label_tag '', 'Minimum Staff' %>
        <div class="staff-limit">
          <%= f.number_field :min_staff, value: 0 %>
          <span class="label">Min</span>
        </div>
      </div>
      <div class="col staff">
        <%= label_tag '', 'Maximum Staff' %>
        <div class="staff-limit">
          <%= f.number_field :max_staff, value: 0 %>
          <span class="label">Max</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= f.label :useful_links, "Notes" %>
        <%= f.text_area :useful_links, class: 'form-control', placeholder: 'Enter text' %>
      </div>
    </div>
    <div class="btns">
      <%= f.submit (@location.id.nil? ? "Add Location" : "Save Location"), class: 'btn btn-primary' %>
    </div>
  </fieldset>
<% end %>
