<% title "Locations" %>
<% for group in @department.loc_groups %>
<div class="infobox">
  <header class="head">
    <h1><%= group.name %></h1>
    <%= link_to "Add New Location", :new_location, class: 'btn btn-primary lightbox', remote: true %>
  </header>

  <div class="table-block">
    <table>
      <thead>
        <tr>
          <th>Status</th>
          <th>Name</th>
          <th>Min/Max Staff</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <%- group.locations.sort_by{ |loc| [- loc.priority, loc.name] }.each do |loc| %>
          <tr>
            <td><span class="status online"></span></td>
            <td>
              <%= link_to loc.name, "#edit-#{loc.id}", class: 'lightbox' %>
              <small>(<%= loc.description %>)</small>
            </td>
            <td><%= "#{loc.min_staff} / #{loc.max_staff}" %></td>
            <td>
              <%= link_to "Edit", edit_location_path(loc), class: 'lightbox', remote: true %> |
              <%= link_to "View Shifts", action: :display_report_items, id: loc %>
            </td>
           </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% end %>

<% content_for :popups do %>
  <%# render partial: 'popup_form', locals: { location: Location.new } %>
<% end %>
