<header id="header">
  <div class="logo-holder">
    <div class="logo">
      <%= link_to :root do image_tag("logo.png", alt: "ShiftWeek") end %>
    </div>
  </div>
  <nav id="nav">
    <ul>
      <li class="active">
        <%= link_to "Dashboard", :dashboard, class: "icon-compass" %>
      </li>
      <li>
        <a href="#" class="icon-add dropopen">Schedule</a>
        <div class="submenu">
          <strong class="title"><span>Schedule</span></strong>
          <div class="holder">
            <ul>
              <li><a href="#">My Schedule</a></li>
              <li><%= link_to "Full Schedule", :shifts %></li>
              <li><a href="#">Time Offs</a></li>
              <li><a href="#">Shift Swaps</a></li>
            </ul>
          </div>
        </div>
      </li>
      <li>
        <a href="#" class="icon-attendance dropopen">Attendance</a>
        <div class="submenu">
          <strong class="title"><span>Attendance</span></strong>
          <div class="holder">
            <ul>
              <li><a href="#">My Timesheets</a></li>
              <li><a href="#">All Timesheets</a></li>
              <li><a href="#">Payroll</a></li>
            </ul>
          </div>
        </div>
      </li>
      <li><%= link_to "Time Clock", :punch_clocks, class: "icon-clock" %></li>
      <li>
        <a href="#" class="icon-setting dropopen">Settings</a>
        <div class="submenu">
          <strong class="title"><span>Settings</span></strong>
          <div class="holder">
            <ul>
              <li><%= link_to "Employees", department_users_path(current_department) %></li>
              <li><a href="#">Positions</a></li>
              <li><%= link_to "Locations", department_locations_path(current_department) %></li>
              <li><%= link_to "Shift Templates", :templates %></li>
              <li><a href="#">General Settings</a></li>
              <li><a href="#">Add-Ons</a></li>
              <li><a href="#">Integrations</a></li>
              <li><a href="#">Billing</a></li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </nav>
</header>
