<div id="dynamic-popup" class="lightbox">
  <div class="lightbox-content">
    <div class="heading-panel">
      <strong class="heading">
        <%= yield :popup_title %>
      </strong>
      <a href="#" class="close"><span class="icon-close"></span></a>
    </div>
    <div class="panel-body">
      <%= render partial: partial %>
    </div>
  </div>
</div>
