<div class="topbar">
  <div class="holder">
    <a href="#" class="nav-opener"><span></span></a>
    <% if show_title? %>
    <strong class="heading"><%= yield(:title) %></strong>
    <% end %>
    <div class="info">
      <a href="#" class="notification icon-bell"><span></span></a>
      <div class="user">
        <div class="avatar">
          <a href="#">
            <%# TODO: Display User's Avatar %>
            <img src="images/img1.jpg" alt="image description">
          </a>
        </div>
        <div class="text">
          <strong class="title"><a href="#"><%= current_user.name %></a></strong>
          <a href="#" class="ac-type"><%= current_user.role %></a>
        </div>
      </div>
    </div>
  </div>
</div>
