<!DOCTYPE html>
<html lang="en">
  <%= render 'layouts/head' %>

  <body>
    <div id="wrapper">
      <div class="w1">
        <%= render 'layouts/nav' unless current_user.nil? %>
        <%= render 'layouts/topbar' unless current_user.nil? %>
        <div class="w2">
          <%= render partial: 'layouts/flash', locals: {flash: flash} %>
          <%= yield %>
          <%# render 'layouts/footer' %>
          <%# render 'layouts/modal' %>
        </div>
      </div>
      <div class="lightbox-holder">
        <%= yield :popups %>
        <div id="dynamic-popup" class="lightbox"></div>
      </div>
    </div>
  </body>
</html>
