<!DOCTYPE html>
<html lang="en">
  <%= render 'layouts/head' %>
  <body class="user-page">
  	<div id="wrapper">
  		<div class="main-holder">
  			<div class="logo">
          <%= link_to :root do image_tag("logo2.png", alt: "ShiftWeek") end %>
  			</div>
        <%= yield %>
      </div>
  	</div>
  </body>
</html>
